@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:300,600&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

img {
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
}

@-webkit-keyframes menuLtoR {
  80% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes menuLtoR {
  80% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

body {
  background: #efeded;
}

#gridMaster {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: "left center right";
  width: 100%;
  height: 100vh;
}

#gridMaster > div > * {
  max-width: 100%;
}

#gridMaster [class*="__chevron"] {
  position: absolute;
  top: 85vh;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#gridMaster .leftContainer {
  background: #fff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  position: relative;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#gridMaster .leftContainer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-animation: menuLtoR 1s 1.5s ease-out forwards;
          animation: menuLtoR 1s 1.5s ease-out forwards;
}

#gridMaster .leftContainer__menu h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

#gridMaster .leftContainer__menu i {
  font-size: 1.6rem;
  padding: 5px;
  padding-right: 0;
  cursor: pointer;
}

#gridMaster .leftContainer__textVerti {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: sideways-right;
  position: absolute;
  top: 30%;
  left: 50%;
  opacity: 0;
  -webkit-transform: rotate(-180deg) translateX(50%) translateY(-100%);
          transform: rotate(-180deg) translateX(50%) translateY(-100%);
}

#gridMaster .leftContainer__chevron {
  right: 0;
  background: #000;
  color: #fff;
}

#gridMaster .centerContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: center;
  height: 101vh;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#gridMaster .centerContainer__chevron {
  background: white;
  color: black;
}

#gridMaster .rightContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

#gridMaster .rightContainer > * {
  height: 50%;
}

#gridMaster .rightContainer__text {
  background: #000;
  color: #fff;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#gridMaster .rightContainer__text * {
  opacity: 0;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}

#gridMaster .rightContainer__text div {
  font-family: "Playfair Display", serif;
  font-size: 8rem;
}

#gridMaster .rightContainer__text p {
  line-height: 2rem;
}

#gridMaster .rightContainer__text a {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

#gridMaster .rightContainer__text a::before {
  content: "";
  top: 0;
  left: 0;
  background: #a62020;
  z-index: 3;
  width: 100%;
  height: 100%;
}

#gridMaster .rightContainer__img {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.menuContainer {
  position: absolute;
  top: 2.5%;
  left: 24%;
  z-index: 4;
  background: #fff;
  padding: 10px 20px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  height: 0;
  opacity: 0;
}

.loader {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader__up {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  background: white;
  mix-blend-mode: difference;
  -webkit-animation: 2s infinite alternate upAndDown;
          animation: 2s infinite alternate upAndDown;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.loader h1 {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
}

@-webkit-keyframes upAndDown {
  0% {
    height: 0;
  }
  100% {
    height: 20vh;
  }
}

@keyframes upAndDown {
  0% {
    height: 0;
  }
  100% {
    height: 20vh;
  }
}
/*# sourceMappingURL=style.css.map */