@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:300,600&display=swap");
@import "components/variable";
@import "components/mixins";
@import "components/reset";
@import "components/animation";
@import "components/left";
@import "components/center";
@import "components/right";

#grid-master {
    visibility: hidden;
    display: grid;
    width: 100%;
    grid-template-areas:
        "title master-image"
        "title side-image"
        "description description";
    min-height: 800px;
    @include screen-min("tablet") {
        grid-template-columns: auto auto 18rem;
        grid-template-areas:
            "title master-image description"
            "title side-image description";
        height: 100vh;
        grid-template-rows: 60% 40%;
    }

    @include screen-min("desktop") {
        grid-template-columns:
            minmax(200px, 1fr)
            minmax(50vh, 2fr)
            minmax(25rem, 1fr);
        grid-template-areas:
            "title master-image side-image"
            "title master-image description";
        grid-template-rows: repeat(2, 50%);
    }
}

.menu-container {
    position: absolute;
    top: 2.5%;
    left: 24%;
    z-index: 4;
    background: #fff;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    height: 0;
    opacity: 0;
}
