.left-container {
    background: $white;
    grid-area: title;
    position: relative;
    min-width: 4.5rem;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
        flex-direction: row-reverse;
        position: fixed;
        width: 100vw;
        @include screen-min("desktop") {
            width: 100%;
            flex-direction: row;
            position: static;
        }
    }

    &__menu h2 {
        text-transform: uppercase;
        font-size: 1.2rem;
        @include screen-min("tablet") {
            color: $white;
        }
        @include screen-min("desktop") {
            color: $black;
        }
    }

    &__menu .menu-burger {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.6rem;
        padding: 5px;
        height: 2rem;
        width: 2rem;
        cursor: pointer;
        position: relative;
    }
    &__menu.open ~ .menu-container a {
        pointer-events: all;
    }

    &__title {
        z-index: 1;
        user-select: none;
        font-family: $fontSerif;
        font-size: 2.5rem;
        writing-mode: vertical-rl;
        text-orientation: sideways-right;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: rotate(-180deg) translateX(50%);
        // @include screen-min("desktop") {
        //     font-size: 4rem;
        // }
    }

    &__chevron {
        top: 10rem;
        @include screen-min("tablet") {
            top: 80%;
        }
        transform: translateX(50%);
        right: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            padding: 1rem;
            display: block;
            cursor: pointer;
        }
        .prev {
            background: $black;
            color: $white;
        }
        .next {
            background: $white;
            color: $black;
        }
    }
}
